/* CONTENEDOR DE IMAGENES */
:root {
   --var-border:2px;
   --var-color: currentColor/* #555a61 *//* #1455cb */;
   --var-color-hover: currentColor/* #3D424A *//* #007bff */;
   --var-color-error:#cb1414;
   --var-color-error-hover:#b30d0d;
   --var-bg-color: #cec8c8b9;
   --var-bg-color-hover:#f3f5f7b9;
}

.dropzone-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   width: 100%;
}

.dropzone {
   border: var(--var-border) dashed var(--var-color); /* #1455cb; */
   /* background-color: var(--var-bg-color); */
   border-radius: 14px;
   padding: 0.5rem;
   text-align: center;
   cursor: pointer;
   width: 100%;
   transition: all 0.3s ease-in-out;
}
.dropzone:hover {
   border: var(--var-border) solid var(--var-color-hover); /* #0d49b9; */
   /* background-color: var(--var-bg-color-hover); */
   backdrop-filter: brightness(2);
   transform: scale(0.99);
}
.dropzone-error {
   border: var(--var-border) dashed var(--var-color-error);
   border-radius: 14px;
   padding: 0.5rem;
   text-align: center;
   cursor: pointer;
   width: 100%;
   transition: all 0.3s ease-in-out;
}
.dropzone-error:hover {
   border: var(--var-border) solid var(--var-color-error-hover);
   background-color: var(--var-bg-color-hover);
   /* backdrop-filter: brightness(2); */
   transform: scale(0.99);
}

.dropzone p {
   /* font-size: clamp(0.75rem, 2.5vw, 2rem);  */
   font-size: clamp(0.75rem, 1vw, 1.5rem);
}

.file-preview {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   /* flex-direction: column; */
   gap: 15px;
   background-color: initial; /* #e9ecef; */
   border-radius: 12px;
   max-width: 100%;
   overflow-x: auto;
   /* margin-top: 5px; */
   /* overflow-y: scroll; */
   max-height: 350px;
}

.file-preview .preview-img {
   max-width: 100px;
   max-height: 100px;
   object-fit: cover;
   /* border: 1px solid #ddd; */
}
.file-preview .preview-pdf {
   margin-top: 18px;
   /* max-width: 100px;
   max-height: 100px;
   */
   object-fit: cover;
   /* border: 1px solid #ddd; */
}

.preview-item {
   position: relative;
   width: 95%; /*150px;*/
   text-align: center;
}

.progress-bar {
   width: 100%;
   height: 10px;
   background-color: #ddd;
}

.progress-bar-fill {
   height: 100%;
   background-color: #007bff;
}

.remove-button {
   position: absolute;
   width: 100%;
   height: 100%;
   align-content: center;
   top: 0%;
   right: 0%;
   background-color: transparent;
   color: transparent; /* Color del icono de eliminar */
   border: none;
   border-radius: 12px;
   font-weight: bolder;
   cursor: pointer;
   font-size: 20px;
   transition: all 0.3s ease-in-out;
}

.remove-button:hover {
   background-color: #777777a1; /* Color de fondo al pasar el ratón */
   color: inherit; /* #e9ecef; */ /* Color del icono de eliminar al pasar el ratón */
}

.remove-pdf-button {
   position: absolute;
   width: 100%;
   /* height: 100%; */
   top: 0%;
   right: 0%;
   background-color: rgb(139, 19, 19);
   /* color: whitesmoke; Color del icono de eliminar */
   border: none;
   border-radius: 12px 12px 0 0;
   margin-bottom: 100px;
   font-weight: bolder;
   cursor: pointer;
   font-size: 25px;
   transition: all 0.3s ease-in-out;
}
/* CONTENEDOR DE IMAGENES */

/* MOSTRAR COMO TOOLTIP LA IMAGEN */
.cursor-pointer {
   cursor: pointer;
}
.tooltip_imagen {
   /* display: none; */
   opacity: 0;
   position: fixed;
   z-index: 99999;
   height: 0%;
   object-fit: cover;
   top: 50%;
   left: 50%;
   transform: translateY(-40%) translateX(-5%); /*arriba de la imagen*/
   border-radius: 15px;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
   transition: all 0.6s ease-in-out;
}
.tooltip_imagen_right { left: 0%;}
/* .tooltip_imagen {
   opacity: 0;
   position: fixed;
   z-index: 99;
   height: 0%;
   object-fit: cover;
   top: 58%;
   transform: translateY(-50%) translateX(-42em);
   border-radius: 15px;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
   transition: all 0.6s ease-in-out;
} */

.tt_show {
   /* display: inline; */
   opacity: 1;
   height: 650px;
   object-fit: contain;
   width: calc(100% - 50vw);
   max-height: 850px;
   color: #c2cddd;
   /* transform: translateY(-50%) translateX(-50em); */
}
/* MOSTRAR COMO TOOLTIP LA IMAGEN */